{{ define "main" }}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item" aria-current="page"><a href="https://kde.org/announcements">{{ i18n "announcements" }}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{ "/" | relLangURL }}">{{ i18n "releases" }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>
</div>
<main class="container">
  {{ if .IsTranslated }}
  <h4>{{ i18n "Translations" }}</h4>
  <div class="translation-list">
    {{ range .Translations }}
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end }}
  </div>
  {{ end }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <h2>Stores</h2>

  <p>KDE software is available on many platforms and software app stores.</p>

  <div class="row justify-content-around">
    <a href="https://flathub.org/apps/search/org.kde"><img src="../platforms/flathub.png" alt="Flathub"></a>
    <a href="https://snapcraft.io/publisher/kde"><img src="../platforms/snapcraft.png" alt="Snapcraft"></a>
    <a href="https://www.microsoft.com/en-gb/search/shop/Apps?q=kde+e.v"><img src="../platforms/microsoft.png" alt="Microsoft Store"></a>
  </div>
</main>
{{ end }}
