{{ define "main" }}

<main class="markdown-output">
  <nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item" aria-current="page"><a href="https://kde.org/announcements">{{ i18n "announcements" }}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{ "/" | relLangURL }}">{{ i18n "releases" }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>

  {{ if .IsTranslated }}
  <h4>{{ i18n "Translations" }}</h4>
  <div class="translation-list">
    {{ range .Translations }}
    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end }}
  </div>
  {{ end }}
  <h1 class="mb-0">{{ .Title }}</h1>
  <div class="mb-3"><small>{{ .PublishDate.Format "January 2, 2006" }} - {{ .ReadingTime }} min read</small></div>
  {{ .Content }}

</main>
{{ end }}
